apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: uas-todo-backend-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: uas-todo-backend
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50 # Scales up if CPU usage > 50%
